@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
}

.header{
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-left{
    display: flex;
    align-items: center;   
    gap: 16px;
    
}

.logo{
    font-size: 32px;
    font-style: italic;
    font-weight: 1000;
    color: rebeccapurple;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    
}

a{
    
    color: rebeccapurple;
    text-decoration: none;
}

.header-right{
    gap: 16px;
    display: flex;
    align-items: center;
    /*justify-content: end;*/

}

button{
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    padding: 8px 24px;

}

.round-box{
    border-radius: 50%;
    color: rebeccapurple;
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    width: 45px;
    height: 45px;

}
