body{
    background-color: lightgray;
    font-family: sans-serif;
}

.cards{
    background-color: white;
    padding: 12px;
    width: 600px;
}

.card1 ,
.content,
.button-card {
    background-color: #e3f4ff;
    padding: 12px;
    margin-bottom: 8px;

}

.content,
.button-card{
    font-weight: 100;
}

.button-card{
    text-align: center;
    padding: 8px;
}

button{
    background-color: white;
    border: 1px solid lightgrey;
    display: block;
    margin: 0 auto;
    padding: 10px 17px;
    font-size: 16px;
}