body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 52px;

}

.info{
    
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width: 200px;
}

img{
    width: 100px;
    height: 100px;
    gap: 52px;
}

h2{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.text{
    font-size: 14px;
    margin-top: 12px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}