.header
{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(255, 232, 182);
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo{
    background-color: white;
    color: coral;
    /*flex: 1;*/
    font-size: 48px;
    font-weight: 900;
    padding: 4px 42px;
    text-align: center;

}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a{
    background-color: white;
    color: blue;
    text-decoration: none;
    font-size: 22px;
    padding: 8px;
}
