@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    padding: 2px 15px 2px 15px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 200px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;

}

a{
    text-decoration: none;
    color: black;
}


.footer{
    display: flex;
    align-items: center;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #eeeeee;
    justify-content: space-between;
    padding: 2px 15px 2px 15px;
}